$highRateHeader: #9335ff;
$lowRateHeader: #e89d40;
$highRateMessageRibbon:#27aae1;
$lowRateMessageRibbon: #e89d40;
$boxShadowColor1: rgba(47, 58, 71, 0.23);
$boxShadowColor2: rgba(47, 58, 71, 0.1);
$dropdown-box-shadow-color-1: rgba(0, 0, 0, 0.2);
$dropdown-box-shadow-color-2: rgba(0, 0, 0, 0.14);
$dropdown-box-shadow-color-3: rgba(0, 0, 0, 0.12);
$background: #f2f2f2;
$messageBackground: #fff;

/*Fonts*/

$font: 'Comfortaa', cursive;
$font-color: #999999;
$font-color-ribbon: #fff;
$font-weights: ("narrow": 500, "regular": 600, "bold": 700);
$font-size: 14px;

/*Breakpoints*/

$max-w-319: 'max-width: 319px';
$min-w-320: 'min-width: 320px';
$max-w-320: 'max-width: 320px';
$max-w-768: 'max-width: 768px';
$min-w-769: 'min-width: 769px';
